*{margin: 0;
padding: 0;
box-sizing: border-box;}

.app{min-height: 100vh;
width: 100vw;
display: flex;
flex-direction: column;
} 

.card{
border:1px solid black;
padding: 10px 20px ;
display: inline-block;
margin: 20px 0px;
width: 400px;
margin: auto;
}

.card img{ width: 100%;}