.card {
    position: relative;
    width: 150px;
    height: 120px;
    background-color: rgb(221, 174, 240);
    box-shadow: 0px 0px 2px 3px whitesmoke;
    border-radius: 10%;
    margin: 6px;
    animation: card_rotate 1s 1 linear;
    text-align: center;
    color: rgb(221, 174, 240);
}

.card:hover {
    opacity: 0.7;
}

.flipped {
    background-color: rgb(136, 94, 123);
    opacity: 1;
    color: white;
}

.card_container {
    position: absolute;
    left: 35%;
    top: 25%;
    width: 650px;
    height: 550px;
    border: 1px solid blue;
    background-color: rgb(135, 3, 161);
    display: flex;
    /* justify-content: space-evenly; */
    flex-wrap: wrap;
}

@keyframes card_rotate {
    100% {
        transform: rotateY(0.5turn);
    }
}